@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 4em;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    border-bottom: 6px double;
}

.logo:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

#music-player {
    border: 6px double #fff;
    display: flex;
    align-items: center;
    max-width: max-content;
    text-align: center;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    height: 63px;
    color: #fff;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls button {
    font-size: 24px;
    margin: 5px;
}

#track-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

#track-icon {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center center;
}

#track-details {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.show-overlay {
    display: block;
}

.lyrics {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    max-width: 80%;
    max-height: -webkit-fill-available;
    height: 500px;
    overflow: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    scrollbar-color: #fff #333;
    scrollbar-width: thin;
}

.lyrics::-webkit-scrollbar {
    width: 10px;
}

.lyrics::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

.lyrics::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 5px;
}

.lyrics button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.lyrics button:hover {
    background-color: #fff;
    color: #000;
}

#volumeControl {
    width: 20%;
    -webkit-appearance: none;
}

#volumeControl::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
}

#volumeControl::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    transition: background-color 0.3s;
}



#volumeControl:hover::-webkit-slider-thumb {
    background: #000;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #87CEEB;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}